<header class="main-header">
  <div class="header-container">
    <div class="logo">
      <a routerLink="/">A</a>
    </div>

    <nav class="nav-menu">
      <ul>
        <!-- Visible when logged in -->
        <li *ngIf="isLoggedIn()"><a [routerLink]="['/dashboard']">Dashboard</a></li>
        <li *ngIf="isLoggedIn()"><a [routerLink]="['/chat']">Chat</a></li>
        <li *ngIf="isLoggedIn()"><a [routerLink]="['/image-generator']">Image Generator</a></li>
        <li *ngIf="isLoggedIn()"><a [routerLink]="['/tts']">Text to Speech</a></li>

        <!-- Visible when NOT logged in -->
        <li *ngIf="!isLoggedIn()"><a [routerLink]="['/login']">Login</a></li>
        <li *ngIf="!isLoggedIn()"><a [routerLink]="['/signup']">Sign Up</a></li>

        <!-- Logout -->
        <!-- <li *ngIf="isLoggedIn()">
          <button class="logout-btn" (click)="logout()">Logout</button>
        </li> -->
      </ul>
    </nav>

    <div class="cta">

      <button class="logout-btn" (click)="logout()">Logout</button>
      <!-- <a class="cta-button" routerLink="/signup">Start 7-day free trial</a> -->
    </div>
  </div>
</header>
