/* Global Styling */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  height: 100vh !important;
  background: radial-gradient(circle at top left, #2401243d, #15013613, #09011a04);
  color: #ffffff;
  overflow-x: hidden;
  position: relative;
  background-size: 200% 200%;
  animation: gradientMove 15s ease infinite;
}

/* Hero Section Styling */
.hero-section {
  background-image: url("../../../assets/images/ai-studio-banner.png");
  color: #ffffff;
  text-align: center;
  /* height: 100vh !important; */
  padding: 3rem 1.5rem;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* Dark overlay for text contrast */
  z-index: -1;
}

.hero-content {
  max-width: 800px;
  margin: 0 auto;
}

.main-title {
  font-size: 3rem;
  font-weight: bold;
}

.sub-title {
  font-size: 2rem;
  font-weight: 600;
  color: #ff5722;
}

.description {
  font-size: 1.2rem;
  color: #b0b0b0;
}

/* Input Section */
.input-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  background: #130434;
  padding: 10px;
  border-radius: 12px;
  width: 80%;
  margin: auto;
  margin-top: 10px;
  color: white;
}

@media (max-width: 768px) {
  .input-container {
    flex-direction: column;
    width: 90%;
  }
}

/* Loading Spinner */
.spinner-border {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Image Card Section */
.image-card-section {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.image-card-section {
  margin-top: 30px;
  padding-bottom: 40px;
}

/* Image Styling */
.card-img-top {
  max-width: 500px;
  height: auto;
  border-radius: 8px;
}

/* Placeholder Card */
.placeholder-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2c2c2c;
  width: 100%;
  max-width: 500px;
  height: 300px;
}

@media (max-width: 768px) {
  .placeholder-card {
    height: 250px;
  }
}

.placeholder-text {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Error Message Styling */
.alert-danger {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
}
